# Dictionary
Python dictionary is an unordered collection of items. A dictionary has a key: value pair.

In [ ]:
# empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'Apple', 2: 'Samsung', 3: 'Mi', 2: 'One plus'}

# dictionary with mixed keys
my_dict = {'name': 'random', 1: [2, 4, 3]}

# using dict()
my_dict = dict({1: 'Apple', 2: 'Samsung', 3: 'Mi', 2: 'One plus'})

# from sequence having each item as a pair
my_dict = dict([(1,'Apple'), (2,'Samsung')])

In [ ]:
my_dict

In [ ]:
my_dict = {'name':'IIT Bombay', 'year': 1958}


print(my_dict['name'])


print(my_dict.get('year'))

In [ ]:
# Trying to access keys which doesn't exist throws error
#my_dict.get('address')
my_dict['city']

In [ ]:
my_dict = {'name':'IIT Bombay', 'year': 1958}

# update value
my_dict['name'] = 'IIT Bombay, Powai'

print(my_dict)

# add item
my_dict['city'] = 'Mumbai'  


print(my_dict)

In [ ]:
squares = {x: x*x for x in range(6)}

# Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares)

In [ ]:
squares = {}
for x in range(6):
   squares[x] = x*x

| Method | Descriptions |
|--------|:---------|
|clear() |	Removes all the elements from the dictionary |
|copy()	| Returns a copy of the dictionary |
|fromkeys() |	Returns a dictionary with the specified keys and values |
|get()	| Returns the value of the specified key |
|items() |	Returns a list containing the a tuple for each key value pair |
|keys() |	Returns a list contianing the dictionary's keys |
|pop() |	Removes the element with the specified key |
|popitem() |	Removes the last inserted key-value pair |
|update() |	Updates the dictionary with the specified key-value pairs|
|values() |	Returns a list of all the values in the dictionary|

In [ ]:
name = 'IIT Bombay'
if name == 'IIT Bombay':
     print('Founded in 1958')
        
elif name == 'IIT Kharagpur':
    print('Founded in 1950')
    
elif name == 'IIT Kanpur':
    print('Founded in 1959')
    
elif name == 'IIT Delhi':
    print('Founded in 1961')
    
elif name == 'IIT Madras':
    print('Founded in 1959')
    
elif name == 'IIT Guwahati':
    print('Founded in 1994')
    
else:
    print("I don't know when it was founded")

In [ ]:
year = {'IIT Bombay': 'Founded in 1958',
       'IIT Kharagpur': 'Founded in 1950',
       'IIT Kanpur': 'Founded in 1959',
       'IIT Delhi': 'Founded in 1961',
       'IIT Madras': 'Founded in 1959',
       'IIT Guwahati': 'Founded in 1994'}

print(year.get('IIT Kharagpur', "I don't know when it was founded"))
print(year.get('IIT Roorkee', "I don't know when it was founded"))

# Tuple
In Python, a tuple is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas in a list, elements can be changed.

In [ ]:
# empty tuple

my_tuple = ()
print(my_tuple)

# tuple having integers

my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes

my_tuple = (1, "Hello", 3.4)
print(my_tuple)


# tuple can be created without parentheses
# also called tuple packing

my_tuple = 3, 4.6, "string"
print(my_tuple)

# tuple unpacking is also possible

a, b, c = my_tuple
print(a)
print(b)
print(c)

In [ ]:
# only parentheses is not enough

my_tuple = ("Mumbai")
print(type(my_tuple))

# need a comma at the end

my_tuple = ("Mumbai",)  
print(type(my_tuple))

# parentheses is optional

my_tuple = "Mumbai",
print(type(my_tuple))

In [ ]:
my_tuple = ('Hello', 2, 3, [6, 5])


#my_tuple[1] = 9

# but item of mutable element can be changed

my_tuple[3][0] = 9
print(my_tuple)

In [ ]:
# Concatenation

print((1, 2, 3) + (4, 5, 6))

# Repeat

print(("Tuples are great",) * 3)

In [ ]:
my_tuple = ('i','i','t','b','o','m','b','a','y')

# Count

print(my_tuple.count('b'))

# Index
print(my_tuple.index('i'))

# Set
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "string", (1, 2, 3)}
print(my_set)

In [ ]:
# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

In [ ]:
# initialize my_set
my_set = {1,3}
print(my_set)


#my_set[0]

# add an element
my_set.add(2)
print(my_set)

# add multiple elements

my_set.update([2,3,4])
print(my_set)

# add list and set

my_set.update([4,5,9], {1,6,8})
print(my_set)

# Some interesting things about Strings

In [ ]:
str = 'Python Workshop'
print('str = ', str)

#first character
print('str[0] = ', str[0])

#last character
print('str[-1] = ', str[-1])

#slicing 2nd to 5th character
print('str[1:5] = ', str[1:5])

In [ ]:
str[3]

In [ ]:
str[3] = 'a'

In [ ]:
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

In [ ]:
"IITBombay".lower()

In [ ]:
"IITBombay".upper()

In [ ]:
"Python Workshop".split()

In [ ]:
"Python-Workshop-2018".split('-')

In [ ]:
my_list = ['Python', 'Workshop']
' '.join(my_list)

In [ ]:
"Python Workshop".find("Wo")

In [ ]:
"Python Workshop".replace("W","w")